main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.project section {
    height: 250px;
}

.ball {
    width:150px;
    height:150px;
    background-color: royalblue;
    margin-bottom: 100px;
    border-radius: 75px;
    cursor: pointer;
}

.selected
{
    background-color: crimson;
}

.ball.small{
    width:70px;
    height:70px;
    border-radius: 35px;
}

.bouncing {
    animation: bounce 0.3s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5,0.05,1,.5);
    animation-iteration-count: infinite;
}

.hide {
    display: none;
}

@keyframes bounce {
    from { transform: translate(0, 0); }
    to   { transform: translate(0, 40px); }
}

#toggle-bouncing-ball
{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    cursor: pointer;
}