main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem 0;
    font-family: 'Lobster', cursive;
}

#countdown
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin:25px 5px;
    border-radius: 50%;
    background-color: #080808;
    color: #ffffff;
    font-size:7rem;
}

#countdown::after
{
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #080808;
    position: absolute;
    top:-18px;
    left: 50%;
    transform: translateX(-50%);
}